// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

:root {
    --color-background: #1d2d3c;
    --color-background-card: #10202f;
    --color-bg-header: #ffffff;
    --color-color-navlink: #0282f9;
    --color-bg-content: #1c1c1c;
    --color-bg-footer: #303030;
    --color-navlink-footer: #7d8884;
}

.debug {
    border: 1px solid red;

}

img {
    width: 100%;
    height: 100%;


}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

// HEADER

header {
    background-color: var(--color-bg-header);
    height: 70px;
}

.header-nav a {
    color: black;
    text-transform: uppercase;
    font-size: x-small;
}

.header-nav a:hover:not(.header-img-container>a) {
    color: var(--color-color-navlink);
    border-bottom: 2px solid var(--color-color-navlink);
    padding-bottom: 27px;
}

.header-img-container {
    width: 50px;
    height: 50px;
}

#container {
    max-width: 1200px;
}

.wrapper {
    max-width: 900px;
}

// JUMBOTRON

.jumbotron {
    height: 40vh;
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 15%;
    position: relative;


}

.jumbo-btn {
    background-color: var(--color-color-navlink);
    border: none;
    position: absolute;
    top: 222px;
    font-weight: bold;

}

// COMICS LIST

.comics-list {
    background-color: var(--color-bg-content);
}

.img-container {
    width: 100px;
    height: 100px;
}

div.card-body h5 {
    font-size: x-small;
    padding-left: 15px;
}

.comic-card {
    cursor: pointer;
}

section.comics-list button {

    background-color: var(--color-color-navlink);
    color: white;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
    border: none;

}

// FOOTER

.pre-footer {
    background-color: var(--color-color-navlink);

}

.pre-footer>nav>ul>li>a {
    color: white;
}

.pre-footer-img-container {
    width: 50px;
    height: 50px;
}

.pre-footer a {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: x-small;

}

.footer-nav {
    background-image: url("../img/footer-bg.jpg");
}

.footer-nav h4 {
    color: white;
}

.footer-nav a {
    color: var(--color-navlink-footer);
}

.post-footer {
    background-color: var(--color-bg-footer);
}

.post-footer h4 {
    color: var(--color-color-navlink);
}

.post-footer button {
    background-color: var(--color-bg-footer);
    border: 2px solid var(--color-color-navlink);
    color: white;
}

.fix {
    border: 1px solid var(--color-color-navlink);
}